* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Space Mono', 'Lexend Deca', sans-serif;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    vertical-align: middle;
}
.btn {
    @include btn
}
.btn:hover {
    @include btn-hover
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}