.hero {
    & {
        width: 100%;
        background-image: url(./../../images/bg-hero.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 296px;
        z-index: 1;
    }
    
    // 2x Ratio 
    
    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        & {
            background-image: url(./../../images/bg-hero@2x.png);
        }
    }
    
    &__content {
        width: 500px;
        padding: 153px 775px 152px 165px;
    }
    &__wrapper {
        margin-left: 95px;
    }
    &__heading {
        width: 500px;
        @include large-text;
        color: #fff;
        margin-bottom: 40px;
    }
    &__subheading {
        @include normal-text;
        font-weight: 400;
        font-family: 'Lexend Deca';
        width: 405px;
        color: #fff;
        margin-bottom: 40px;
    }
    &__btn {
        width: 180px;
        padding: 14px 39px;
        white-space: nowrap;
    }
}

// Responsive

@media only screen and (max-width: 768px) {
    .hero {
        width: 100%;
        background-image: url(./../../images/bg-hero-tab.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 0;
        z-index: 1;
        
        // 2x Ratio 
        
        @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            & {
                background-image: url(./../../images/bg-hero-tab@2x.png);
            }
        }
        &__content {
            width: 573px;
            margin-left: 220px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &__wrapper {
            margin-left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}