.telemetry {
    & {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 168px;
    }
    & + & {
        margin-top: 160px;
    }
    &:nth-child(2n+2) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    &__wrapper {
        width: 445px;
        margin-right: 220px;
    }
    &__text {
        width: 445px;
        @include regular-text;
        margin-bottom: 24px;
    }
    &__subtext {
        width: 445px;
        @include main-text;
        color: $dim-grey;
        margin-bottom: 40px;
    }
    &__btn {
        padding: 14px 44.5px;
    }
    &__img {
        border-radius: 50%;
    }
}